header {
  background-image: url("../images/image-hero-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  .button-toggle {
    display: none;
    cursor: pointer;
  }
  .head {
    width: 80%;
    padding: 3rem 1rem;
    margin: auto;
    @include flex-center(row);
    justify-content: space-between;

    a {
      color: #fff;
      margin-left: 1.5rem;
      @include transition;
      &:hover {
        font-weight: 500;
      }
    }
  }
}

@include media(768px) {
  header {
    .button-toggle {
      display: block;
    }
    nav {
      background-color: #fff;

      border-radius: 8px;
      position: absolute;
      top: 100px;
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
      max-height: 0;
      overflow: hidden;
      transition: all 0.5s ease;
      a {
        color: $Black !important;
        padding: 1.5rem;
        font-weight: 700;
        display: block;
        margin: 0 !important;
        border-bottom: 1px solid hsl(0, 0%, 78%);
      }
    }
  }
}
